<%provide(:title, @user.name) %>

<div class="user-profile-box">
	<div id="user-photo">
		<%= image_tag @user.photo.url(:medium), class: "user-photo" %>
	</div>

	<h1 class="title">
		<% unless current_user?(@user) %>
			<table width="auto">
				<tr>
					<td>
						<%= @user.name %> 
					</td>
					<td>
						<div class="span2">
						    <%= render 'connect_form' if signed_in? %>
						</div>
					</td>
				</tr>
			</table>
		<% else %>
			<%= @user.name %>
		<% end %>

	</h1>

	<%= render 'user_info' %>

</div>

<div id="company-container" class="company-container">
	<% if @user.memberships.any? %>
		<div class="company-container-header">
			<h3 style="display: inline">
				Companies </h3>
			<% if current_user?(@user) %>
				<h2  style="display: inline">
					| <%= link_to "Create a new company", '/companies/new' %>
				</h2>
			<% end %>
		</div>

		<%= 
			render @companies 
		%>

		<div class="pagination-bottom">
			<%= will_paginate @companies %>
		</div>

	<% elsif current_user?(@user) %>
		<h2>
			<%= link_to "Create your first company!", '/companies/new'%>
		</h2>
	<% else %>
		<h2>No companies to display</h2>
	<% end %>		
</div>






<!-- OLD CODE -->
