<div class="single-company">
	<section class="company-header">
		<h2 class="company-title">
			<%= company.title %>
		</h2>

		<% if current_user?(@user) || current_user.admin? %>
			<%= link_to "edit", edit_company_path(company) %> |
			<%= link_to "delete", company, method: :delete,
									data: { confirm: "Are you sure you want to delete this company" } %>
		<% end %>
	</section>
		
	<section class="company-about">
		<aside>
			<% if company.mission && !company.mission.blank? %>
				<h4 class="company-mission">Mission Statement: </h4> <%= company.mission %>
			<% elsif current_user?(@user) %>
				<%= link_to "Add a mission statement for \"#{company.title}\"",
							edit_company_path(company) %>
			<% elsif current_user.admin? %>
				<%= link_to "Edit this company as admin", 
							edit_company_path(company) %>
			<% end %>
		</aside>

		<aside>
			<% if !company.description.blank? %>
				<h4 class="company-description">Description: </h4> 
				<%= company.description %>
			<% elsif current_user?(@user) %>
				<%= link_to "Add a description for \"#{company.title}\"", 
							edit_company_path(company) %>
			<% elsif current_user.admin? %>
				<%= link_to "Edit this company as admin", 
							edit_company_path(company) %>
			<% end %>
		</aside>



	</section>

</div>